<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-light p-md-3">
	<div class="container" style="max-width:90%;">
		<h1 class="navbar-brand text-light fs-1" href="{{ path('home.index') }}">SnowTricks</h1>
		<!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>-->

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link text-light fs-4" href="{{ path('home.index') }}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-light fs-4" href="{{ path('trick.index') }}">Tricks</a>
				</li>
                {% if app.user %}
                    <li class="nav-item me-3 me-lg-1">
                        <div class="nav-link d-sm-flex align-items-sm-center">
                            <i class="fa-solid fa-circle-user me-3" style="font-size:35px;"></i>
                            <h5 class="d-none d-sm-block ms-1">{{ app.user.userIdentifier }}</h5>
                            <a class="nav-link" href="{{ path('security.logout') }}">
                                <i class="fa-solid fa-right-from-bracket fa-xl ms-3"></i>
                            </a>
                        </div>
                    </li>
                {% else %}
				<li class="nav-item">
					<a class="nav-link text-light fs-4" href="#">Sign up</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-light fs-4" href="{{ path('security.login') }}">Sign in</a>
				</li>
                {% endif %}
			</ul>
		</div>
	</div>
</nav>
<script type="text/javascript">
	var nav = document.querySelector('nav');

window.addEventListener('scroll', function () {
if (window.pageYOffset > 100) {
nav.classList.add('bg-secondary', 'shadow');
} else {
nav.classList.remove('bg-secondary', 'shadow');
}
});
</script>
