
<nav class="navbar fixed-top navbar-expand-sm navbar-light p-md-3">
	<div class="container" style="max-width:90%;">
		<div class="navbar-brand text-center">
            <a href="{{ path('home.index') }}" class="fs-1 link-warning text-warning text-decoration-none">Snowtricks</a>
		</div>
	<!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button> -->

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link link-info text-info fw-bold fs-3 {% if activemenu == 'homemenu' %} active {% endif %}" href="{{ path('home.index') }}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link link-info text-info fw-bold fs-3 {% if activemenu == 'trickmenu' %} active {% endif %}" href="#tricks-list">Tricks</a>
				</li>
			</ul>
			<ul class="navbar-nav ms-auto">
                {% if app.user %}
                    <li class="nav-item me-3 me-lg-1">
                        <div class="nav-link d-sm-flex align-items-sm-center">
                            <i class="fa-solid fa-circle-user text-warning" style="font-size:35px;"></i>
                            <p class="d-flex text-info my-auto ps-3 fs-5">{{ app.user.userIdentifier }}</p>
                            <a class="nav-link" href="{{ path('security.logout') }}">
                                <i class="fa-solid fa-right-from-bracket fa-xl ms-3 fs-3 text-danger"></i>
                            </a>
                        </div>
                    </li>
                {% else %}
				<li class="nav-item">
					<a class="nav-link link-info text-info fw-bold fs-3" href="{{ path('security.registration') }}">Sign up</a>
				</li>
				<li class="nav-item">
					<a class="nav-link link-info fw-bold fs-3" href="{{ path('security.login') }}">Sign in</a>
				</li>
                {% endif %}
			</ul>
		</div>
	</div>
</nav>
<script type="text/javascript">
	var nav = document.querySelector('nav');

window.addEventListener('scroll', function () {
if (window.pageYOffset > 100) {
nav.classList.add('bg-dark', 'shadow');
} else {
nav.classList.remove('bg-dark', 'shadow');
}
});
</script>
