{% if pages > 1 %}
    <nav>
        <ul class="pagination d-flex justify-content-center my-4">
            {# pages avant #}
            {% if currentPage > 1 %}
                <li class="page-item">
                    <a href="{{path(path, {slug: slug, page: currentPage -1})}}#message" class="page-link rounded-start">&lt;</a>
                </li>
            {% else %}
                <li class="page-item hidden">
                    <a class="page-link">&lt;</a>
                </li>
            {% endif %}
            {# nbre de pages #}
            {% for page in 1..pages %}
                <li class="page-item {{ (page == currentPage) ? 'active' : '' }}">
                    <a href="{{path(path, {slug: slug, page: page})}}#message" onclick="refreshDiv();" class="page-link">{{ page }}</a>
                </li>
            {% endfor %}
            {# pages après #}
            {% if currentPage < pages %}
                <li class="page-item">
                    <a href="{{path(path, {slug: slug, page: currentPage +1})}}#message" class="page-link rounded-end">&gt;</a>
                </li>    
            {% else %}
                <li class="page-item hidden">
                    <a class="page-link">&gt;</a>
                </li>
            {% endif %}
            </li>
        <ul>
    </nav>
{% endif %}

