<!-- Modal -->
<div class="modal fade" id="editPictureModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content p-2">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<img class="img-fluid modal-img" id="editPicturePreview" src="">
			{{ form_start(formEditPicture)}}
			<div class="modal-body">
				<input id="pictureId" hidden>
				<div class="mb-3">
					<div class="form-group">		
						{{ form_label(formEditPicture.editPicture) }}
						{{ form_widget(formEditPicture.editPicture) }}
						{{ form_errors(formEditPicture.editPicture) }}
					</div>
				</div>
			</div>
			{{ form_end(formEditPicture)}}
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="submit" id="edit_button" class="btn btn-warning" data-bs-dismiss="modal">Submit</button>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function () { 
	// créer un evenement au click sur le bouton btn-modify
	$('.btn-modify').click(function () { 
		// on recupere la valeur de l'attribut data-image
		let pictureId = $(this).attr("data-image");
		let pictureName = $(this).attr("data-image-name");
		// on insere la valeur de l'attribut à l'interieur de l'input pictureId
		$("#pictureId").val(pictureId);
		if (pictureName != undefined) {
			let url = "{{ asset('upload/') }}";
			$("#editPicturePreview").show().attr("src",url + pictureName);
		}
	});
	// soumet le formulaire
	$('#edit_button').click(function (e) { 
		e.preventDefault();
		// recupere la valeur de l'input image
		var picture = $('#pictureId').val();
		// recupere l'image soumis dans l'input
		let imageFile = $('form[name="edit_picture"] :input')[1].files[0];
		// teste si image existe
		if (imageFile != undefined) { 
			// creation objet formdata
			let formData = new FormData();
			// recupere formData
			formData.append("image", imageFile);
			/* au clique sur le bouton #edit_button, récupérer l'ID 
			qui se trouve dans l'input à l'intérieur de la modal */
			/* Faire un autre append sur le formData pour y ajouter 
			l'ID de l'image */
			formData.append("pictureId", picture);
			$.ajax({
				url: "{{ path('app_modify_picture') }}",
				method: "POST",
				data: formData,
				success: function (res) { 
					/*pointer sur l'image en question qui contient le data-image avec
					l'ID qui nous intéresse
					modifier le src : $('#monImage).attr('src', NOUVELLE_VALEUR); */
					$('#picture' + res.pictureId).attr('src', res.image);
				},
				processData: false,
				cache: false,
				contentType: false
			});
		} else {
			alert("The field can't be empty !");
		}
	});
});
</script>
