<!-- Modal -->
<div class="modal fade" id="editPictureModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content p-2">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
           
            {{ form_start(formEditPicture, { 'attr': { 'id': 'editPictureForm' } }) }}
            <div class="modal-body alert alert-warning">
                <div id="editPicturePreview"></div>
                <input type="hidden" id="pictureId">
                <div class="form-group mb-3">
                    {{ form_label(formEditPicture.editPicture) }}
                    {{ form_widget(formEditPicture.editPicture) }}
                </div>
                <div id="messagesEditPicture"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" id="edit_button" class="btn btn-warning" data-modify-pathPicture="{{ path('app_modify_picture') }}">Submit</button>
            </div>
            {{ form_end(formEditPicture) }}
        </div>
    </div>
</div>



