{% extends 'baseform.html.twig' %}

{% block title %}Forget - Snowtrick
{% endblock %}

{% block body %}
	<body>
		<div class="main p-2">
			<section class="sign">
				<div class="navbar-brand text-center">
					<a href="{{ path('home.index') }}" class="fs-1 text-warning text-decoration-none">Snowtricks</a>
				</div>
				<div class="container bg-white shadow-lg p-3 mb-5 bg-body rounded">
					<div class="sign-content m-5">
						<div class="row">
							<div class="sign-form col-md-6">
								<h2 class="form-title text-dark border-bottom border-dark fw-bold pb-3">Forget password</h2>
								{% for flash_error in app.flashes('reset_password_error') %}
									<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
								{% endfor %}
								{{ form_start(requestForm, {'attr': {'novalidate': 'novalidate'} }) }}
								<div class="form-group my-3">
									{{ form_label(requestForm.email) }}
									{{ form_widget(requestForm.email) }}
									<div class="form-error text-danger">
										{{ form_errors(requestForm.email) }}
									</div>
								</div>
								<div class="form-group form-button d-flex justify-content-between pt-5">
									<button type="submit" class="btn btn-warning btn-lg">Submit</button>
									<a href="{{ path('home.index') }}" class="text-decoration-none"><button type="button" class="btn btn-lg btn-outline-warning">Back</button></a>
								</div>
								{{ form_end(requestForm) }}
							</div>
							<div class="sign-image d-flex align-items-center justify-content-center flex-column col-md-6">
								<figure class="text-center"><img src="../images/snowboarder2.jpg" alt="sign image" class="img-fluid"></figure>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</body>
{% endblock %}
{% block js %}
	{% if app.flashes("emailPassword")[0] is defined %}
		<script>
			Toastify({
				text: "Confirmation email sent !",
				duration: 5000,
				className: "info",
				position: "right",
				style: {
					background: "linear-gradient(to right, #00b09b, #96c93d)",
				}
			}).showToast();
		</script>
	{% endif %}
{% endblock %}
