{% extends 'baseform.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="main">
        <section class="sign">
            <h1 class="navbar-brand text-success text-center fs-1" href="#">Snowtricks</h1>
			{% for flash_error in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
			{% endfor %}
			<div class="container bg-white shadow-lg p-3 mb-5 bg-body rounded">
				<div class="sign-content m-5">
					<div class="row">
						<div class="sign-image d-flex align-items-center justify-content-around flex-column col-md-6">
							<figure class="text-center"><img src="../images/snowboarder3.jpg" alt="sign image" class="img-fluid"></figure>
							<a href="{{ path('security.login') }}" class="sign-image-link text-center text-info fs-5">Sign in</a>
						</div>
						<div class="sign-form col-md-6">
							<h2 class="form-title border-bottom border-dark text-dark fw-bold pb-3">Sign up</h2>
							{{ form_start(registrationForm) }}

							<div class="form-group my-3">
								{{ form_label(registrationForm.username) }}
								<div class="form-error text-danger">
									{{ form_errors(registrationForm.username) }}
								</div>
								{{ form_widget(registrationForm.username) }}
								
							</div>

							<div class="form-group my-3">
								{{ form_label(registrationForm.email) }}
								<div class="form-error text-danger">
									{{ form_errors(registrationForm.email) }}
								</div>
								{{ form_widget(registrationForm.email) }}
								{{ form_help(registrationForm.email) }}
							</div>

								<div class="form-error text-danger">
									{{ form_errors(registrationForm.plainPassword) }}
								</div>
								{{ form_widget(registrationForm.plainPassword) }}
							
							<div class="form-group form-button d-flex justify-content-between pt-5">
								<button type="submit" class="btn bnt-lg btn-warning border-warning text-light fs-5">Submit</button>
								<a class="back-button btn bnt-lg text-warning fs-5 border border-warning bg-white" role="button" href="{{ path('home.index') }}">Back</a>
							</div>

							{{ form_end(registrationForm) }}
						</div>
						
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
