{% extends 'baseform.html.twig' %}

{% block title %}Login - Snowtricks{% endblock %}

{% block body %}
<body>
    <div class="main p-2">
        <section class="sign">
            <div class="navbar-brand text-center">
            <a href="{{ path('home.index') }}" class="fs-1 link-warning text-warning text-decoration-none">Snowtricks</a>
		    </div>
            <div class="container bg-white shadow-lg p-3 mb-5 bg-body rounded">
                <div class="sign-content m-5">
                    <div class="row">
                        <div class="sign-form col-md-6">
                            <h2 class="form-title text-dark border-bottom border-dark fw-bold pb-3">Sign in</h2>
                            {% if error %}
                                <div class="alert alert-danger mt-4">
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                </div>
                            {% endif %}
                            <form method="POST">
                                <div class="form-group my-3">
                                    <label class="mt-3 text-info fs-5 fw-bold">Username</label> 
                                    <input class="form-control" type="text" name="_username" id="username" value="{{ last_username }}" autocomplete="username" required>
                                </div>
                                <div class="form-group my-3">
                                    <label class="mt-3 text-info fs-5 fw-bold">Password</label> 
                                    <input class="form-control" type="password" name="_password" id="password" autocomplete="current-password" required>
                                </div>
                                <div class="form-group form-button d-flex justify-content-between pt-5">
                                    <button type="submit" class="btn btn-warning btn-lg">Submit</button>
                                    <a href="{{ path('home.index') }}" class="text-decoration-none"><button type="button" class="btn btn-lg btn-outline-warning">Back</button></a>
							    </div>
                            </form>
                        </div>
                        <div class="sign-image d-flex align-items-center justify-content-center flex-column col-md-6">
                            <figure class="text-center"><img src="../images/snowboarder1.jpg" alt="sign image" class="img-fluid"></figure>
                            <a href="{{ path('app_forgot_password_request') }}" class="link-warning text-center text-warning fs-4">Forgot Password ?</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

{% endblock %}
