{% extends 'base.html.twig' %}

{% block body %}
	{% set img = trick.pictures|last %}
	<header class="hero-trick">
		<div class="banner">	
			<!-- modal edit cover image hero -->
			{% include "pages/coverImage/editCoverImage.html.twig" %}
			{{ form_start(formNameEdit) }}
			<section class="trick-name hero-name py-3">
				<div class="container d-flex justify-content-center">
					<div class="form-group w-75 my-2 p-4 rounded shadow">
						<div class="title-description d-flex mb-2">
							<span class="fa-stack fa-1x">
								<i class="fa-solid fa-square fa-stack-2x"></i>
								<i class="fa-solid fa-person-snowboarding fa-stack-1x fa-inverse"></i>
							</span>
							<h5 class="d-flex align-items-end">{{ form_label(formNameEdit.name) }}</h5>
						</div>
						{{ form_widget(formNameEdit.name) }}
						<div class="form-error text-danger fw-bolder">
							{{ form_errors(formNameEdit.name) }}
						</div>
						<div class="form-group d-flex justify-content-end py-3">
							{{ form_row(formNameEdit.submit) }}
						</div>
					</div>
				</div>
			</section>
			{{ form_end(formNameEdit) }}
			<!-- -->
		</div>
	</header>
	<div class="container pt-2">
	{% for message in app.flashes('danger') %}
		<div class="alert alert-danger text-center mt-4 fs-5">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success text-center mt-4 fs-5">
			{{ message }}
		</div>
	{% endfor %}
	</div>
	<!-- section edit medias full screen -->
	<section class="media container mt-5">
		<div class="gallery-pictures row g-4 p-3 border rounded-2 shadow">
			<div class="title-media picture-title d-flex">
				<span class="fa-stack fa-1x">
					<i class="fa-solid fa-square fa-stack-2x"></i>
					<i class="fa-solid fa-image fa-stack-1x fa-inverse"></i>
				</span>
				<p class="fs-4 fw-bold">Gallery Pictures</p>
			</div>
			<!-- button new picture -->
			<div class="col-lg-3 col-md-6">
				<div class="card">
					<img src="{{ asset('images/snowboarder5.jpg')|imagine_filter('media') }}" class="img-fluid img-bright rounded-2">
					<a href="" class="trick-add btn-plus" data-bs-toggle="modal" data-bs-target="#newPictureModal">
						<span class="fa-stack fa-2x" style="--fa-inverse: black;">
							<i class="fa-solid fa-circle fa-stack-2x text-light"></i>
							<i class="fa-solid fa-plus fa-stack-1x fa-lg fa-inverse"></i>
						</span>
					</a>	
				</div>
			</div>
			<!-- list edit media picture -->
			{% if pictures is not empty %}
				{% for picture in pictures %}
					<div class="col-lg-3 col-md-6">
						<div class="card">
							{% if 'http' in picture.pictureLink %}
								{# fixture #}
								<img id="picture{{ picture.id }}" src="{{ picture.pictureLink }}" class="img-fluid rounded-top">
							{% else %}
								{# upload #}
								<img id="picture{{ picture.id }}" src="{{ asset('upload/tricks/'~picture.pictureLink)|imagine_filter('media') }}" class="img-fluid rounded-top">
							{% endif %}
							<div class="card-body">
								<div class="card-meta d-flex justify-content-between alert-info">
								{% if app.user %}
									<div class="btn-group fs-3 bg-warning p-2">
										<div class="edit-button">
											<button type="button" class="btn btn-lg btn-success me-3 rounded btn-modify" data-bs-toggle="modal" data-bs-target="#editPictureModal" 
											data-image="{{ picture.id }}">
												<i class="fa-solid fa-pen text-light"></i>
											</button>
										</div>
										<div class="delete-button">
											{% if picture.id %}
											<a href="{{ path('picture.delete', {slug: trick.slug, id: picture.id}) }}" type="button" class="btn btn-lg btn-danger rounded">
												<i class="fa-solid fa-trash-can text-light"></i>
											</a>
											{% endif %}
										</div>
									</div>
								{% endif %}
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<div class="alert alert-danger" role="alert">
					<h4 class="text-center">No picture yet !</h4>
				</div>
			{% endif %}
			<!-- end list edit media picture -->
		</div>
		<div class="gallery-videos row g-4 my-4 p-3 border rounded-2 shadow">
			<div class="title-media d-flex">
				<span class="fa-stack fa-1x">
					<i class="fa-solid fa-square fa-stack-2x"></i>
					<i class="fa-solid fa-video fa-stack-1x fa-inverse"></i>
				</span>
				<p class="fs-4 fw-bold">Gallery Videos</p>
			</div>
			<!-- button new video -->
			<div class="col-lg-3 col-md-6">
				<div class="card">
					<img src="{{ asset('images/videoscreen.jpg')|imagine_filter('media') }}" height="205" class="img-fluid img-bright rounded-2">
						<a href="" class="trick-add btn-plus" data-bs-toggle="modal" data-bs-target="#newVideoModal">
							<span class="fa-stack fa-2x" style="--fa-inverse: black;">
								<i class="fa-solid fa-circle fa-stack-2x text-light"></i>
								<i class="fa-solid fa-plus fa-stack-1x fa-lg fa-inverse"></i>
							</span>
						</a>
					</img>
				</div>
			</div>
			<!-- list edit media video -->
			{% if videos is not empty %}
				{% for video in videos %}
					<div class="col-lg-3 col-md-6">
						<div class="card">
							{% if 'http' in trick.videos[0].videoLink %}
								<iframe id="video{{ video.id }}" height="220" src="{{ video.videoLink }}" alt="video" class="rounded-top" title="YouTube video player" frameborder="0" 
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>></iframe>
							{% else %}
								<iframe id="video{{ video.id }}" height="220" class="rounded-top" src="https://www.youtube.com/embed/{{ video.videoLink }}" 
								title="YouTube video player" frameborder="0" 
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							{% endif %}
							<div class="card-body">
								<div class="card-meta d-flex justify-content-between alert-info">
								{% if app.user %}
									<div class="btn-group fs-3 bg-warning p-2">
										<div class="button-edit">
											<button type="button" class="btn btn-lg btn-success me-3 rounded btn-modify" data-bs-toggle="modal" data-bs-target="#editVideoModal" data-video="{{ video.id }}" data-video-url="https://www.youtube.com/embed/">
												<i class="fa-solid fa-pen text-light"></i>
											</button>
										</div>
										<div class="button-delete">
											{% if video.id %}
												<a href="{{ path('video.delete', {slug: trick.slug, id: video.id}) }}" type="button" class="btn btn-lg btn-danger rounded">
													<i class="fa-solid fa-trash-can text-light"></i>
												</a>
											{% endif %}
										</div>
									</div>
								{% endif %}
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<div class="alert alert-danger" role="alert">
					<h4 class="text-center">No video yet !</h4>
				</div>
			{% endif %}
			<!-- end list edit media video -->
		</div>
	</section>
	<!-- end section edit medias full screen -->
	<!-- section edit medias responsive -->
	<section class="container">
		<div class="media-responsive container">
			<div class="dropdown-center">
				<button class="btn btn-secondary dropdown-toggle w-100 bg-warning border border-none text-dark fs-4 fw-bold" type="button" 
				data-bs-toggle="dropdown" aria-expanded="false">
					See medias
				</button>
				<ul class="dropdown-menu bg-info w-100">
				<!-- dropdown edit pictures responsive -->
					<li class="mx-2 bg-info fs-5 fw-bold py-2">Picture(s)
						<!-- button new picture -->
						<a href="" class="trick-add" data-bs-toggle="modal" data-bs-target="#newPictureModal">
							<span class="fa-stack fa-1x" style="--fa-inverse: black;">
								<i class="fa-solid fa-circle fa-stack-2x text-light"></i>
								<i class="fa-solid fa-plus fa-stack-1x fa-lg fa-inverse"></i>
							</span>
						</a>
					</li>
					{% if pictures is not empty %}
						{% for picture in pictures %}
							{% if 'http' in picture.pictureLink %}
							{# fixtures #}
								<li class="dropdown-item bg-warning d-flex justify-content-between">
									{{ picture.pictureLink }}
									<button type="button" class="btn btn-lg btn-success me-3 rounded btn-modify" data-bs-toggle="modal" 
									data-bs-target="#editPictureModal" data-image="{{ picture.id }}" data-image-name="{{ picture.pictureLink }}">
										<i class="fa-solid fa-pen text-light"></i>
									</button>
								</li>
							{% else %}
							{# upload #}
								<li class="dropdown-item bg-warning d-flex justify-content-between">
									{{ picture.pictureLink }}
									<div class="edit-button">
										<button type="button" class="gallery-item btn btn-sm btn-success me-3 rounded btn-modify" 
										data-link="{{ asset('upload/tricks/'~picture.pictureLink)|imagine_filter('coverimage') }}" data-bs-toggle="modal" data-bs-target="#editPictureModal" 
										data-image="{{ picture.id }}">
											<i class="fa-solid fa-pen fa-2xs text-light"></i>
										</button>
										<a href="{{ path('picture.delete', {slug: trick.slug, id: picture.id}) }}" type="button" class="btn btn-sm btn-danger rounded">
											<i class="fa-solid fa-trash-can fa-2xs text-light"></i>
										</a>
									</div>
								</li>
							{% endif %}
						{% endfor %}
					{% else %}
						<div class="alert alert-danger p-2" role="alert">
							<h6 class="text-center">No picture yet !</h6>
						</div>
					{% endif %}
					<!-- end dropdown edit picture responsive -->
					<!-- dropdown edit video responsive -->
					<li class="mx-2 bg-info fs-5 fw-bold py-2">Video(s)
						<!-- button new video -->
						<a href="" class="trick-add" data-bs-toggle="modal" data-bs-target="#newVideoModal">
							<span class="fa-stack fa-1x" style="--fa-inverse: black;">
								<i class="fa-solid fa-circle fa-stack-2x text-light"></i>
								<i class="fa-solid fa-plus fa-stack-1x fa-lg fa-inverse"></i>
							</span>
						</a>	
					</li>
					{% if videos is not empty %}
						{% for video in videos %}
							<li class="video-item dropdown-item bg-warning d-flex justify-content-between">
								{{ video.videoLink }}
								<div class"edit-button">
									<button type="button" class="btn btn-sm btn-success me-3 rounded btn-modify" 
									data-link="https://www.youtube.com/embed/{{ video.videoLink }}" data-bs-toggle="modal" data-bs-target="#editVideoModal" data-video="{{ video.id }}" data-video-name="{{ video.videoLink }}" data-video-url="https://www.youtube.com/embed/">
										<i class="fa-solid fa-pen fa-2xs text-light"></i>
									</button>
									{% if app.user %}
									<a href="{{ path('video.delete', {slug: trick.slug, id: video.id}) }}" type="button" class="btn btn-sm btn-danger rounded">
										<i class="fa-solid fa-trash-can fa-2xs text-light"></i>
									</a>
									{% endif %}
								</div>
							</li>
						{% endfor %}
					{% else %}
						<div class="alert alert-danger p-2" role="alert">
							<h6 class="text-center">No video yet !</h6>
						</div>
					{% endif %}
					<!-- end dropdown edit video responsive -->	
				</ul>
			</div>
		</div>
	</section>
	<!-- end section edit media responsive -->
	<!-- modal create media picture -->
	{% include "pages/picture/newPicture.html.twig" %}
	<!-- modal edit media image -->	
	{% include "pages/picture/editPicture.html.twig" %}
	<!-- modal create media video -->
	{% include "pages/video/newVideo.html.twig" %}
	<!-- modal edit media video -->
	{% include "pages/video/editVideo.html.twig" %}
	<!-- edit trick description form -->
	{{ form_start(formEdit) }}
	<section class="trick-description py-3">
		<div class="container d-flex justify-content-center">
			<div class="form-group w-75 my-2 p-4 rounded shadow">
				<div class="title-description d-flex mb-2">
					<span class="fa-stack fa-1x">
						<i class="fa-solid fa-square fa-stack-2x"></i>
						<i class="fa-solid fa-file-lines fa-stack-1x fa-inverse"></i>
					</span>
					<h5 class="d-flex align-items-end">{{ form_label(formEdit.description) }}</h5>
				</div>
				{{ form_widget(formEdit.description, {'attr': {'rows':'5'}}) }}
				<div class="form-error text-danger fw-bolder">
					{{ form_errors(formEdit.description) }}
				</div>
			</div>
		</div>
	</section>
	<!-- end trick description form -->
	<!-- edit trick category select -->
	<section class="trick-group py-3">
		<div class="container d-flex justify-content-center">
			<div class="trick-category form-group w-50 my-3 p-4 rounded shadow">
				<div class="title-description d-flex mb-2">
					<span class="fa-stack fa-1x">
						<i class="fa-solid fa-square fa-stack-2x"></i>
						<i class="fa-solid fa-tag fa-stack-1x fa-inverse"></i>
					</span>
					<h5 class="d-flex align-items-end">{{ form_label(formEdit.category) }}</h5>
				</div>
				{{ form_widget(formEdit.category) }}
				<div class="form-error text-danger fw-bolder">
					{{ form_errors(formEdit.category) }}
				</div>
			</div>
		</div>
	</section>
	<!-- end edit trick category select -->
	<div class="edit-button py-5">
		<div class="container d-flex justify-content-center aligns-items-center">
			<div class="d-flex justify-content-between">
				{% if app.user.id == trick.user.id %}
					<a href="{{ path('trick.delete', {slug: trick.slug}) }}" type="button" class="btn btn-lg btn-danger me-2" data-bs-toggle="modal" 
					data-bs-target="#deleteModal{{ trick.id }}">Delete</a>
				{% endif %}
				{% include "pages/trick/deleteTrick.html.twig" %}
				<div class="form-group mb-0">
					{{ form_row(formEdit.submit) }}
				</div>
			</div>
		</div>
	</div>
	{{ form_end(formEdit) }}
{% endblock %}
