{% extends 'base.html.twig' %}

{% block title %}Trick - Snowtricks
{% endblock %}

{% block body %}
	{% set img = trick.pictures|last %}
	<header class="hero-trick">
		<div class="banner">
			<!-- modal edit cover image hero -->
			{% include "pages/coverImage/editCoverImage.html.twig" %} 
			<!-- -->
			<div class ="d-flex justify-content-center align-items-center">
				<h1 class="hero-name fw-bold d-flex justify-content-center w-50 text-white border border-info-subtle border-3 rounded-2">{{ trick.name }}</h1>
			</div>
		</div>
	</header>
	<section class="trick-media py-5">
		<div class="container py-lg-5">
			<div class="text-center mb-3 pb-3">
				<h4 class="text-warning fw-bold text-uppercase" style="letter-spacing: 5px;">medias</h4>
				<h1 class="text-info fw-bold">Let's discover the trick together</h1>
			</div>
		</div>
		<div class="media container">
			<div class="row g-4 mb-5 p-3 border rounded-2 bg-warning">
			<div class="title-media picture-title d-flex">
				<span class="fa-stack fa-1x">
					<i class="fa-solid fa-square fa-stack-2x"></i>
					<i class="fa-solid fa-image fa-stack-1x fa-inverse"></i>
				</span>
				<p class="fs-4 fw-bold">Gallery Pictures</p>
			</div>
				<!-- modal display image xl -->
				{% include "pages/picture/displayPicture.html.twig" %}
				<!-- -->
			</div>
				<div class="row g-4 my-4 p-3 border rounded-2 bg-info">
				<div class="title-media d-flex">
					<span class="fa-stack fa-1x">
						<i class="fa-solid fa-square fa-stack-2x"></i>
						<i class="fa-solid fa-video fa-stack-1x fa-inverse"></i>
					</span>
					<p class="fs-4 fw-bold">Gallery Videos</p>
				</div>
				<!-- modal display video xl -->
				{% include "pages/video/displayVideo.html.twig" %}
				<!-- -->
			</div>	
		</div>
		{% include "pages/mediaResponsive/mediaDisplayResponsive.html.twig" %}
	</section>
	<section class="trick-about" style="background-color: #fff4d4">
		<div class="container-fluid py-5">
			<div class="about-title text-center mb-3 pb-3">
				<h4 class="text-warning fw-bold text-uppercase" style="letter-spacing: 5px;">about</h4>
				<h1 class="text-info fw-bold">Technical Description</h1>
			</div>
			<div class="container py-4">
				<div class="about-content p-3 rounded-2 bg-info">
					<div class="row">
						<div class="about-img col-lg-6">
							{% if trick.pictures is not empty %}
								{% if 'http' in pictures[0].pictureLink %}
									<img src="{{ pictures[0].pictureLink }}" class="img-fluid rounded-2 shadow-lg bg-body">
								{% else %}
									<img src="{{ asset('upload/'~pictures[0].pictureLink)|imagine_filter('description') }}" class="img-fluid rounded-2 shadow-lg bg-body">
								{% endif %}
							{% else %}
								<img src="{{ asset('images/snowboarder5.jpg') }}" class="img-fluid rounded-2 shadow-lg bg-body">
							{% endif %}
						</div>
						<div class="col-lg-6 about-text pt-3">
							<h5 class="about-name fw-bolder bg-warning p-2 text-white rounded-2 fs-4 text-uppercase mb-3">{{ trick.name }}</h5>
							<p class="about-description fw-bold fs-5">{{ trick.description }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="trick-meta py-5">
		<div class="py-3">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-4">
						<span class="fa-stack fa-4x text-warning">
							<i class="fas fa-circle fa-stack-2x"></i>
							<i class="fas fa-plus fa-stack-1x fa-inverse"></i>
						</span>
						<h4 class="my-3 fw-bold">{{ trick.createdAt|date('d/m/Y') }}</h4>
					</div>
					<div class="col-md-4">
						<span class="fa-stack fa-4x text-info">
							<i class="fas fa-circle fa-stack-2x"></i>
							<i class="fas fa-person-snowboarding fa-stack-1x fa-inverse"></i>
						</span>
						<h4 class="my-3 fw-bold">{{ trick.category.name }}</h4>
					</div>
					<div class="col-md-4">
						<span class="fa-stack fa-4x text-warning">
							<i class="fas fa-circle fa-stack-2x"></i>
							<i class="fas fa-pen fa-stack-1x fa-inverse"></i>
						</span>
						<h4 class="my-3 fw-bold">{{ trick.updatedAt|date('d/m/Y') }}</h4>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="trick-messages py-5" style="background-color:#d5f5fa" id="message">
		<div class="text-center mb-3 py-3">
			<h4 class="text-warning fw-bold text-uppercase" style="letter-spacing: 5px;">Blog</h4>
			<h1 class="text-info fw-bold">Related Messages</h1>
		</div>
		<div class="container my-5 py-2">
			<div class="row d-flex justify-content-center">
				<div class="col-md-12 col-lg-10">
					{% for message in app.flashes('success') %}
						<div class="text-center alert alert-success mt-4 fs-5">
							{{ message }}
						</div>
					{% endfor %}
					<div class="card text-dark shadow" id="card-message">
						{% if app.user %}
							{{ form_start(form) }}
								<div class="d-flex add-comment-section rounded bg-warning p-3 m-3 my-5">
									<img class="img-fluid img-responsive rounded-circle mx-3" src="{{ asset('images/' ~ app.user.file) }}" alt="avatar" width="60" height="60"/>	
									{{ form_widget(form.content) }}
									<div>
										<a href="#message">{{ form_row(form.submit) }}</a>
									</div>
								</div>
								<div class="form-error text-danger fw-bolder">
									{{ form_errors(form.content) }}
								</div>
							{{ form_end(form) }}
						{% endif %}
							{% if trick.messages is empty %}
								<div class="alert alert-danger m-3" role="alert">
									<h4 class="text-center">No message yet !</h4>
								</div>
							{% else %}
							
								{% for message in messages.data %}
							{#	{% if messages.data > 0 %} #}
 									<div class="card-body py-4 alert alert-warning m-3">
										<div class="container">
											<div class="row flex-start py-2">
												<div class="d-flex">
													<div>
														<img class="rounded-circle shadow-1-strong me-3" src="{{ asset('images/' ~ message.user.file) }}" alt="avatar" width="60" height="60"/>
													</div>
													<div class="d-flex flex-column mb-3 p-2">
														<p class="fw-bold mb-0">{{ message.user.username }}</p>
														<p class="mb-0">{{ message.createdAt|date('d/m/Y') }}</p>
													</div>
												</div>
												<div class="col-12 bg-white p-3 my-3 rounded-2">
													<p class="mb-0">{{ message.content }}</p>
												</div>
											</div>
										</div>			
									</div>
								{# {% endif %} #}
								{% endfor %}
							
								{% embed "_partials/_pagination.html.twig" %}
									{# variables servant pour la pagination #}
									{# cibler la bonne page #}
									{% set path = 'trick.index' %}
									{# fabriquer l'url avec le slug #}
									{% set slug = trick.slug %}
									{# nbre de pages #}
									{% set pages = messages.pages %}
									{# page en cours #}
									{% set currentPage = messages.page %}
								{% endembed %}
							{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

