{% extends 'base.html.twig' %}
{% block body %}
	<div class="new-trick container-fluid">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-6 p-5">
				<div class="">
					<h3 class="mt-5 pt-5 fw-bolder">Add a trick</h3>
					{{ form_start(form) }}
						<div class="alert-primary">
							<div class="form-error text-danger">
								{{ form_errors(form) }}
							</div>
						</div>
						<div class="form-group">
							{{ form_label(form.name) }}
							{{ form_widget(form.name) }}
							<div class="form-error text-danger fw-bolder">
								{{ form_errors(form.name) }}
							</div>
						</div>
						<div class="form-group">
							{{ form_label(form.description) }}
							{{ form_widget(form.description, {'attr': {'rows':'5'}}) }}
							<div class="form-error text-danger fw-bolder">
								{{ form_errors(form.description) }}
							</div>
						</div>
						<div class="form-group">
							{{ form_label(form.category) }}
							{{ form_widget(form.category) }}
							<div class="form-error text-danger fw-bolder">
								{{ form_errors(form.category) }}
							</div>
						</div>
						<div class="form-group">
							{{ form_label(form.image) }}
							{{ form_widget(form.image) }}
							<div class="form-error text-danger fw-bolder">
								{{ form_errors(form.image) }}
							</div>
						</div>
						<div class="row mt-3">
							<div class"col-xl-12">
								<div class="input-video-type">
									<label class="mb-2 fw-bold">Videos(s) (optional)</label>
									<div class="row duplicate-row mb-3">
										<div class="col-11">
											<input type="text" name="video[]" id="" class="form-control"/>
										</div>
										<div class="col-1">
											<button type="button" class="btn btn-danger btn-remove">
												<i class="fa-solid fa-trash"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<button type="button" class="btn btn-primary mt-1 mb-5" id="addmorebtn">Add more video</div>
						<div class="form-group form-button d-flex justify-content-between">
							<div class="form-group pb-1">{{ form_row(form.submit) }}</div>
							<a href="{{ path('home.index') }}" class="text-decoration-none"><button type="button" class="btn btn-warning">Back</button></a>
						</div>
						</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
